body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 10;
  font-size: 36px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-box,
.right-box {
  width: 45%;
}

h2 {
  margin-bottom: 20px;
}

#balance {
  margin-bottom: 20px;
  font-size: 24px;
}

.item {
  margin: 10px 0;
  padding: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.image-box {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
}

.item span {
  flex: 1;
}

.item:hover {
  background-color: #0056b3;
}

#owned-items {
  list-style-type: none;
  padding: 0;
}

#owned-items li {
  margin: 5px 0;
}

.resetButton button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: silver;
  color: black;
  border: none;
  border-radius: 5px;
}

.resetButton button:hover {
  background-color: darkgray;
}
